.footer {
  background-color: rgba($color-grey-light-2, .4);
  padding: 2rem;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.cta {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    font-size: 4rem;
    font-weight: 500;
    letter-spacing: .2rem;
  }
}

.credit {

  &__text {
    color: $color-grey-dark;
  }
  
  &__link {
    &:link,
    &:visited {
      text-decoration: none;
      color: $color-grey-dark;
    }
  }
}