.button {
  padding: 1rem 3.5rem;
  text-transform: uppercase;
  letter-spacing: .2rem;
  font-size: 1.5rem;
  border: .2rem solid $color-black;
  background-color: $color-white;
  color: $color-black;
  cursor: pointer;
  transition: all .3s;

  &-small {
    padding: .5rem 1.75rem;
    font-size: 1.2rem;
  }

  &:hover {
    color: $color-white;
    background-color: transparent;
    border: .2rem solid $color-white;
  }

  &-primary {
    border: .2rem solid rgba($color-primary, .4);
    color: $color-white;
    text-shadow: -1px 0 rgba($color-primary, .7), 0 1px rgba($color-primary, .7), 1px 0 rgba($color-primary, .7), 0 -1px rgba($color-primary, .7);
    background-color: rgba($color-primary, .4);
    transition: all .3s;

    &:hover {
      color: rgba($color-primary, .7);
      text-shadow: none;
      background-color: transparent;
      border: .2rem solid rgba($color-primary, .4);
    }
  }

  &-secondary {
    border: .2rem solid rgba($color-secondary, .4);
    color: $color-white;
    text-shadow: -1px 0 rgba($color-secondary, .7), 0 1px rgba($color-secondary, .7), 1px 0 rgba($color-secondary, .7), 0 -1px rgba($color-secondary, .7);
    background-color: rgba($color-secondary, .4);
    transition: all .3s;

    &:hover {
      color: rgba($color-secondary, .7);
      background-color: transparent;
      text-shadow: none;
      border: .2rem solid rgba($color-secondary, .4);
    }
  }

  &-tertiary {
    border: .2rem solid rgba($color-tertiary, .4);
    color: $color-white;
    text-shadow: -1px 0 rgba($color-tertiary, .7), 0 1px rgba($color-tertiary, .7), 1px 0 rgba($color-tertiary, .7), 0 -1px rgba($color-tertiary, .7);
    background-color: rgba($color-tertiary, .4);
    transition: all .3s;

    &:hover {
      color: rgba($color-tertiary, .7);
      background-color: transparent;
      text-shadow: none;
      border: .2rem solid rgba($color-tertiary, .4);
    }
  }
}