.about-page {
  padding: 5rem 10vw;
  padding-bottom: 10rem;
  margin: 0 20rem;
  margin-bottom: 5rem;
  border-radius: .8rem;
  white-space: pre-wrap;

  background-color: rgba($color-grey-light, .7);

  @include respond(tab-land) {
    margin: 0 12rem;
    margin-bottom: 5rem;
  }

  @include respond(tab-port) {
    margin: 0 6rem;
    margin-bottom: 5rem;
  }
}