.posts-create-page {
  background-color: $panel-color;
  margin: 0 20rem;
  margin-bottom: 5rem;
  padding: 1rem 3rem;
  border-radius: .8rem;

  @include respond(tab-land) {
    margin: 0 12rem;
    margin-bottom: 5rem;
  }

  @include respond(tab-port) {
    padding: 4rem 10vw;
    margin: 0 6rem;
    margin-bottom: 5rem;
  }

  @include respond(phone) {
    padding: 2rem 2vw;
    margin: 0 2rem;
    margin-bottom: 5rem;
  }
}