.posts-edit-page {
  background-color: rgba($color-grey-light, .8);
  margin: 0 20rem;
  margin-bottom: 5rem;
  padding: 1rem 3rem;
  border-radius: .8rem;

  @include respond(tab-port) {
    padding: 4rem 12vw;
  }

  @include respond(phone) {
    padding: 3rem 7vw;
  }
}